@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

/* Admin */

.link-active {
  color: #4b70e2;
}
.link-inactive {
  color: rgb(97, 97, 97);
}
